@model QuotationScanViewModel

<!-- Check form for Quotations-->
<form asp-controller="Quotation" asp-action="ScanIndex" class="d-flex flex-row align-items-center">

    <!-- Search/Scan Bar -->
    <input class="form-control me-2" asp-for="Check" placeholder="Search for Quotation">
   
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

