<!-- AUTHENTICATED DROPDOWN -->
<ul class="navbar-nav" asp-condition="@User.Identity.IsAuthenticated">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" title="User Account" aria-label="User Account: @User.Identity.Name">
            @User.Identity.Name
        </a>
        <!-- dropdown-menu-end ensures menu displays within the viewport, even near the right edge. -->
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li>
                <a class="dropdown-item" asp-controller="User" asp-action="UpdateProfile" title="Update Profile"
                    aria-label="Update Profile">
                    <i class="bi bi-gear"></i> Update Profile
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="User" asp-action="UpdatePassword" title="Update Password"
                    aria-label="Update Password">
                    <i class="bi bi-lock-fill"></i> Update Password
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <form asp-controller="User" asp-action="Logout">
                    <button type="submit" class="dropdown-item btn btn-link" title="Logout" aria-label="Logout">
                        <i class="bi bi-person-dash-fill"></i> Logout
                    </button>
                </form>
            </li>
        </ul>
    </li>
</ul>

<!-- UNAUTHENTICATED LINKS -->
<ul class="navbar-nav ms-auto mb-2 mb-lg-0" asp-condition="@(!User.Identity.IsAuthenticated)">
    <li class="nav-item">
        <a class="nav-link" asp-controller="User" asp-action="Login" title="Login" aria-label="Login">
            Login
        </a>
    </li>
    @* <li class="nav-item">
    <a class="nav-link" asp-controller="User" asp-action="Register" title="Register" aria-label="Register">
    Register
    </a>
    </li> *@
    <!-- registration has been taken out as the manager user can add users- as this is an inhouse software all users have to be athorised by the manager -->
</ul>
