<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- LEFT SIDE NAVBAR ITEMS -->
    <partial name="_NavItems" />

    <!-- RIGHT SIDE NAVBAR AUTH ITEMS -->
    <partial name="_NavAuth" />
  </div>

</nav>
